.dark {
    --color-primary: #ffffff;

    --text-primary: #ffffff;
    --text-brand: #ffffff;
    --loader-text: #ffffff;
    --text-primary-button: #000000;
    --text-accent-button: #000000;
    --text-primary-disabled: rgba(255, 255, 255, 0.25);
    --text-secondary: #cccccc;
    --text-grey: #666666;

    --text-outline: rgba(255, 255, 255, 0.64);
    --text-tertiary: #000000;
    --text-tertiary-disabled: rgba(0, 0, 0, 0.25);
    --text-success: #ffffff;
    --text-error: #ffffff;
    --text-warning: #ffffff;
    --text-accent: #ffffff;
    --text-sky: #ffffff;
    --text-button-secondary-disable: #333333;

    --brand-color-1: #ffffff;
    --brand-color-2: #cccccc;
    --brand-color-3: #999999;
    --brand-color-4: #666666;

    --border-color: #ffffff;
    --border-color-table: #333333;
    --border-color-grey: #555555;
    --border-color-warning: #ffffff;
    --hover-link-color: #cccccc;

    --background-primary: #000000;
    --background-modal-overlay: rgba(255, 255, 255, 0.1);
    --background-token-card-hover: rgba(255, 255, 255, 0.05);
    --background-self-order-row: rgba(255, 255, 255, 0.06);
    --background-dev-order-row: rgba(255, 255, 255, 0.08);

    --background-input-color: rgba(255, 255, 255, 0.12);
    --background-successed-progress-bar-color: #ffffff;
    --background-error-progress-bar-color: #ffffff;
    --background-warning-progress-bar-color: #ffffff;
    --background-primary-progress-bar-color: #ffffff;
    --background-progress-bar-color: #333333;
    --background-control-menu-color: #1a1a1a;
    --background-button-disabled: #333333;
    --background-dev-message: rgba(255, 255, 255, 0.02);
    --background-user-row-leaderboard: rgba(255, 255, 255, 0.05);

    --background-white-button-color: #000000;
    --background-white-button-hover-color: #1a1a1a;
    --background-white-button-disable-color: rgba(0, 0, 0, 0.25);
    --background-green-button-color: #ffffff;
    --background-green-button-hover-color: #cccccc;
    --background-green-button-disabled-color: #333333;
    --background-purple-button-color: #ffffff;
    --background-purple-button-hover-color: #cccccc;
    --background-red-button-color: #ffffff;
    --background-red-button-hover-color: #cccccc;

    /*Tag Type*/
    --background-tag-success: rgba(255, 255, 255, 0.1);
    --background-tag-warning: rgba(255, 255, 255, 0.15);
    --background-tag-destructive: rgba(255, 255, 255, 0.2);
    --background-tag-accent: rgba(255, 255, 255, 0.12);
    --background-tag-tertiary: rgba(255, 255, 255, 0.08);

    --bottom-navigation-background: #1a1a1a;
}

