@import 'styles/themes/base/index.css';
@import 'styles/themes/light.css';
@import 'styles/themes/dark.css';

html {
  background-color: var(--background-primary);
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border: 1px solid var(--color-primary);
  background-color: var(--background-primary);
  border-radius: var(--radius-10);
  cursor: pointer;
}
